<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container-product">
            <h1>Details of <%= product.title %></h1>
            <div class="details">
                <div class="description">
                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" srcset="">

                    <p>ราคา: <%= product.price %></p>
                    <p>รายละเอียด: <%= product.description %></p>
                </div>
            </div>
            <%- include('../includes/add-to-cart.ejs') %>
    
    
        </div>
    </main>
    <%- include('../includes/end.ejs') %>